/*
 * Minimal Application level overrides
 * (things that dont make sense in a toolkit :)
 * copyright @colossal 2015
 */
 
body a:focus {
  outline: none;
}
 
body .app-navbar {
	background-color: #4D606E; 
	box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .52);
}
body .navbar-default .navbar-toggle .icon-bar {
	background-color: #FFF; 
}

.navbar-default .navbar-nav > li > a, 
.navbar-default .navbar-text,
.navbar-default .navbar-brand {
	color: #FFF; 
}

	body .navbar-brand {
		height: auto; 	
	}
	
	.navbar > .container .navbar-brand, 
	.navbar > .container-fluid .navbar-brand {
		position: absolute; 
		top: 0px; 
		margin-top: 0px; 
		height:  auto; 
		padding: 15px; 
background: #3FBAC2; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #3FBAC2 0%, #2aa6ae 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  #3FBAC2 0%,#2aa6ae 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  #3FBAC2 0%,#2aa6ae 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3FBAC2', endColorstr='#2aa6ae',GradientType=1 ); /* IE6-9 */
		left: 0; 
		border: 1px solid #3FBAC2; 
	}
	.navbar > .container .navbar-brand:hover, 
	.navbar > .container-fluid .navbar-brand:hover {
	background: #2aa6ae; 
	
	}
	body .navbar-brand img {
		width: 70px; 
		height: auto;
	}

@media (max-width: 760px) {
 body .navbar-collapse {
	 padding-top: 20px; 

 }
}
	
@media (min-width: 768px) {
	
	.navbar > .container .navbar-brand, 
	.navbar > .container-fluid .navbar-brand {
		padding: 22px; 
		left: auto; 
	}
	body .navbar-brand img {
		width: 150px; 
	}
}


@media (min-width: 800px) {
	
	.navbar > .container .navbar-brand, 
	.navbar > .container-fluid .navbar-brand {
		padding: 24px; 
		left: auto; 
	}

}


.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #DDD;
  background-color: transparent;
}


body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.tooltip,
popover {
  font-family: "adelle",serif;
  font-weight: 400;

}

body a {
  color: #387a99;
}
body a:hover,
body a:focus {
  color: #1d5a76;
}

body .app-block-footer a {
  color: #EEE; 
}
body a:hover,
body a:focus {
  color: #CCC;
}

.app-code-block {
    background-color: #262f36;
    overflow: hidden;
}
body .app-block-footer {
	background-color: #393E46; 
	color: #AAA; 
}

.block-featured {
	padding: 170px 0 120px; 
}




.app-price-plans {
    background-color: #f4f5f6;
}


.btn-accent {
  color: #fff;
  border-color: #FB3640;

background: #FB3640; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #FB3640 0%, #e92630 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  #FB3640 0%,#e92630 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  #FB3640 0%,#e92630 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FB3640', endColorstr='#e92630',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.btn-accent:focus,
.btn-accent.focus {
  color: #fff;
  background-color: #FB3640;
  border-color: #FB3640;
}
.btn-accent:hover {
  color: #fff;
  background:none; 
  background-color: #e92630;
  border-color: #e92630;
}
.btn-accent:active,
.btn-accent.active,
.open > .dropdown-toggle.btn-accent {
  color: #fff;
  background-color: #FB3640;
  border-color: #FB3640;
}
.btn-accent:active:hover,
.btn-accent.active:hover,
.open > .dropdown-toggle.btn-accent:hover,
.btn-accent:active:focus,
.btn-accent.active:focus,
.open > .dropdown-toggle.btn-accent:focus,
.btn-accent:active.focus,
.btn-accent.active.focus,
.open > .dropdown-toggle.btn-accent.focus {
  color: #fff;
  background-color: #e92630;
  border-color: #e92630;
}
.btn-accent:active,
.btn-accent.active,
.open > .dropdown-toggle.btn-accent {
  background-image: none;
}

.btn-primary .badge {
  color: #ff353c;
  background-color: #fff;
}



.block {
 overflow: hidden;
}

.block-subscribe {
	background-color: #f4f5f6; 
	
	padding: 48px 0 96px; 

}

.block-subscribe:before {
	border-top: none; 
}

body .app-code-block {
  position: relative;
}
body .app-code-block:after {
  background: #f4f5f6;
  bottom: 0;
  content: '';
  display: block;
  height: 48px;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-1.5deg);
  transform-origin: 100%;
  z-index: 1;
}


body .form-control.btn-pill {
	min-width: 280px; 

}


/* navbar */
.app-navbar {
  font-size: 13px;
  letter-spacing: .15em;
}
.app-navbar .navbar-brand {
  font-size: 13px;
}


body .block-featured,
body .app-price-plans {
  position: relative;
}
body .block-featured:after,
body .app-price-plans:after,
body .block-subscribe:after  {
  background: white;
  bottom: 0;
  content: '';
  display: block;
  height: 48px;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(1.5deg);
  transform-origin: 0;
  z-index: 1;
}

body .app-price-plans:after {
	background-color: #262f36; 
}

body .block-subscribe:after {
	background-color: #393e46; 	
	border-top: 8px solid #3FBAC2;
}

.app-price-plans .m-t-0 {
	line-height: 1.5; 
}


body .app-block-stats {
  position: relative;
}
body .app-block-stats:after {
  background: #f4f5f6;
  bottom: 0;
  content: '';
  display: block;
  height: 48px;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-1.5deg);
  transform-origin: 100%;
  z-index: 1;
}

@media (max-width: 998px) {
	body .app-block-stats .m-y-md {
		padding-bottom: 80px; 
	}
}


body .app-block-stats {
	padding-top: 72px; 
}

@media (max-width: 780px) {
	body h1.block-title, 
	body h1.block-title {
		font-size: 36px; 
	}
	body .block-foreground {
		padding-left: 24px; 
		padding-right: 24px; 
	}
	body .block-featured {
		padding-top: 84px; 
	}
}

body .app-block-stats img {
	width: auto; 
}

@media (max-width: 468px) {
	body .app-block-stats img {
		max-width: 75%; 
	}
}

@media (min-width: 768px) {
	body .app-block-stats img {
		max-width: 100%; 
	}
}

body .app-block-stats:before {
	border-top: none; 
}

/*

.slanted-top {
    content: "";
    background: blue;
    height: 40px;
    transform: skewY(2deg);
    position: absolute;
    left: 0;
    right: 0;
    z-index: 100;
    bottom: 0; 
    width: 100%; 
}


.slanted:after {
    content: "";
    background: blue;
    height: 40px;
    transform: skewY(2deg);
    position: absolute;
    left: 0;
    right: 0;
    z-index: 100;
}

*/

/* intro block */
.app-block-intro {
  padding-top: 20px;
}
.app-block-intro img {
  width: 80%;
  margin-bottom: -45%;
}

/* block img */
.app-block-game img,
.app-block-stats img {
  width: 100%;
}
@media (max-width: 480px) {
  .app-block-game-img {
    transform: scale(1.5) !important;
  }
}

/* stats hr */
.app-block-stats hr {
  width: calc(80% + 60px);
}

/* design block */
.app-block-design > .container > .row {
  z-index: 2;
}

.app-block-design-img {
  margin-top: -60px;
  margin-left: -450px;
  float: left;
  width: 100%;
}

@media (min-width: 768px) {
  .app-block-design-img {
    margin-top: -220px;
    margin-left: 0;
  }
}

/* footer block */
.app-block-footer {
  background-color: rgb(27, 28, 29);
  color: #444;
  color: rgba(116, 119, 123, .5);
}


/* transforms */
.app-translate-15 {
  -webkit-transform: translateY(15px);
      -ms-transform: translateY(15px);
          transform: translateY(15px);
}
.app-translate-50 {
  -webkit-transform: translateY(50px);
      -ms-transform: translateY(50px);
          transform: translateY(50px);
}
.app-translate-5 {
  -webkit-transform: translateY(5%);
      -ms-transform: translateY(5%);
          transform: translateY(5%);
}
.app-translate-10 {
  -webkit-transform: translateY(10%);
      -ms-transform: translateY(10%);
          transform: translateY(10%);
}


/* brand */

@media (max-width: 400px) {
  .app-myphone-brand {
    font-size: 46px !important;
  }
}
@media (max-width: 350px) {
  .app-myphone-brand {
    font-size: 42px !important;
  }
}



@media only screen 
and (min-width : 768px) 
and (max-width : 820px) {

	body .block-featured {
		padding-top: 180px; 
	}



 }
